@using Com.XXXX.Common
@{
    ViewBag.Title = "Index";
}

<style>
    .iconwidth {
        width: 16px;
        height: 16px;
        margin: 1px;
        display: inline-block;
    }
</style>

<script type="text/javascript">
    var pagetypeid;
    //#region  网站信息
    var webSiteform = new Ext.form.FormPanel({
        frame: true,
        hidden: true,
        autoScroll: true,
        layout: 'form',
        anchor: "100% 100%",
        reader: new Ext.data.JsonReader({ successProperty: 'success', root: 'message' },
            [
                'ID', 'SiteTitle', 'CompanyName', 'CompanyAddress', 'CompanyType', 'CompanyAddress', 'Telephone', 'Email', 'HostAddress', 'IndexPage', 'PageContent'
            ]),
        items: [
            {
                layout: 'column',
                items: [{
                    columnWidth: .5,
                    layout: 'form',
                    items: [
                        {
                            xtype: "hidden",
                            name: "ID",
                            id: 'websiteId'
                        },
                        {
                            xtype: 'textfield',
                            readOnly: false,
                            fieldLabel: '网站标题',
                            name: 'SiteTitle',
                            labelWidth: 50,
                        }, {
                            xtype: 'textfield',
                            readOnly: false,
                            fieldLabel: '网站名称',
                            name: 'CompanyName',
                            labelWidth: 50,
                        }, {
                            xtype: 'textfield',
                            readOnly: false,
                            fieldLabel: '网站地址',
                            name: 'CompanyAddress',
                            labelWidth: 50,
                        }, {
                            xtype: 'textfield',
                            readOnly: false,
                            fieldLabel: '电话号码',
                            name: 'Telephone',
                            labelWidth: 50,
                        }
                    ]
                }, {
                    columnWidth: .5,
                    layout: 'form',
                    items: [
                        {
                            xtype: 'textfield',
                            readOnly: false,
                            fieldLabel: '网站分类',
                            name: 'CompanyType',
                            labelWidth: 50,
                        }, {
                            xtype: 'textfield',
                            readOnly: false,
                            fieldLabel: 'Email',
                            name: 'Email',
                            labelWidth: 50,
                        }, {
                            xtype: 'textfield',
                            readOnly: false,
                            fieldLabel: '网站域名',
                            name: 'HostAddress',
                            labelWidth: 50,
                        }, {
                            xtype: 'textfield',
                            name: 'IndexPage',
                            fieldLabel: '网站主页',
                            labelWidth: 50,
                        }
                    ]
                }
                ]
            },
            { xtype: 'Starthtmleditor', hideLabel: true, name: 'PageContent', labelWidth: 50, anchor: "100% 100%", }
        ], buttons: [{
            text: '生成网站',
            handler: function () {
                var websitid = Ext.getCmp("websiteId").getValue();
                Ext.Ajax.request({
                    url: '@Url.Content("/Api/Cms/WebSite/GetWebSite")?id=' + websitid,
                    method: "Get",
                    success: function (response) {

                    }
                });
            }
        }, {
            text: '新增子频道',
            handler: function () {
                RefreshPanel(channelForm, Ext.getCmp("panel1"));
                var websitid = Ext.getCmp("websiteId").getValue();
                channelForm.getForm().reset();
                Ext.getCmp("channelpid").setValue(websitid);
            }
        }, {
            text: '保存',
            handler: function () {
                var websiteId = Ext.getCmp("websiteId").value;
                var type = websiteId ? "Put" : "Post";
                if (webSiteform.getForm().isValid()) {
                    webSiteform.getForm().submit({
                        url: '/Api/Cms/WebSite/' + websiteId,
                        method: type,
                        params: {
                        },
                        waitTitle: '请等待',
                        waitMsg: '正在提交中',
                        success: function (form, action) {
                            Ext.Msg.alert('提示', action.result.message);
                            Ext.getCmp("webSiteTree").root.reload();
                            Ext.getCmp("webSiteTree").expandAll();
                        },
                        failure: function (form, action) {
                            Ext.Msg.alert('提示', action.result.message);
                        }
                    });
                }
            }
        }]
    });
            //#endregion


            var channelForm = new Ext.form.FormPanel({
                frame: true,
                autoScroll: true,
                hidden: true,
                layout: 'form',
                anchor: "100% 100%",
                reader: new Ext.data.JsonReader({ successProperty: 'success', root: 'message' }, [
                    'ID', 'ChannelName', 'ChannelCode', 'ChannelRemark', 'WebSiteID', 'PageContent', "SortIndex", "InUse"
                ]),
                items: [{
                    layout: 'column',
                    items: [{
                        columnWidth: .33,
                        layout: 'form',
                        items: [
                            { xtype: "hidden", name: "ID", id: 'channelId' },
                            { xtype: 'textfield', readOnly: false, fieldLabel: '频道名称', name: 'ChannelName', labelWidth: 50 },
                            { xtype: 'textfield', readOnly: false, fieldLabel: '频道编号', name: 'ChannelCode', labelWidth: 50 },
                        ]
                    },
                        {
                            columnWidth: .33,
                            layout: 'form',
                            items: [
                                { xtype: 'textfield', readOnly: false, fieldLabel: '频道备注', name: 'ChannelRemark', labelWidth: 50 },
                                {
                                    fieldLabel: '归属网站', id: "channelpid", name: 'WebSiteID', hiddenName: 'WebSiteID', xtype: 'combo', mode: 'remote',
                                    width: "200",
                                    displayField: "Name", valueField: "Id", editable: false, typeAhead: true, forceSelection: true, triggerAction: 'all',
                                    store: new Ext.data.JsonStore({
                                        autoLoad: true,
                                        method: 'Post',
                                        idProperty: 'ID',
                                        url: "/Api/Cms/WebSite/GetWebSiteCombox/",
                                        fields: [{
                                            name: 'Name',
                                            mapping: 'CompanyName'
                                        }, {
                                            name: 'Id',
                                            mapping: 'ID'
                                        }]
                                    }),
                                }]
                        }, {
                            columnWidth: .33,
                            layout: 'form',
                            items: [
                                { xtype: 'textfield', readOnly: false, fieldLabel: '排序', name: 'SortIndex', labelWidth: 50 },
                                  {
                                      fieldLabel: '启用',
                                      name: 'InUse',
                                      hiddenName: 'InUse',
                                      xtype: 'combo',
                                      mode: 'local',
                                      displayField: "Name",
                                      valueField: "Id",
                                      editable: false,
                                      typeAhead: true,
                                      emptyText: '请选择...',
                                      forceSelection: true,
                                      triggerAction: 'all',
                                      width: 100,
                                      labelWidth: 50,
                                      store: new Ext.data.JsonStore({
                                          autoLoad: true,
                                          method: 'Post',
                                          idProperty: 'ID',
                                          url: "/Api/Dictionary/GetDictionaryByPCode?pcode=Status",
                                          fields: [{
                                              name: 'Name',
                                              mapping: 'Title'
                                          }, {
                                              name: 'Id',
                                              mapping: 'Value'
                                          }]
                                      })
                                  }
                            ]
                        }]
                },
                    { xtype: 'Starthtmleditor', hideLabel: true, name: 'PageContent', labelWidth: 50, anchor: "100% 100%" }
                ],
                buttons: [
                    {
                        text: '新增子分类',
                        handler: function () {
                            RefreshPanel(classifyForm, Ext.getCmp("panel1"));
                            var channelId = Ext.getCmp("channelId").getValue();
                            classifyForm.getForm().reset();
                            Ext.getCmp("classifypid").setValue(channelId);
                        }
                    },
                    {
                        text: '保存',
                        handler: function () {
                            //{ xtype: "hidden", name: "ID", id: 'channelId' },
                            var channelId = Ext.getCmp("channelId").value;
                            var type = channelId ? "Put" : "Post";
                            if (channelForm.getForm().isValid()) {
                                channelForm.getForm().submit({
                                    url: '/Api/Cms/CmsChannel/' + channelId,
                                    method: type,
                                    params: {
                                    },
                                    waitTitle: '请等待',
                                    waitMsg: '正在提交中',
                                    success: function (form, action) {
                                        Ext.Msg.alert('提示', action.result.message);
                                        // Ext.getCmp("webSiteTree").root.reload()
                                        Ext.getCmp("webSiteTree").root.reload();
                                        Ext.getCmp("webSiteTree").expandAll();
                                    },
                                    failure: function (form, action) {
                                        Ext.Msg.alert('提示', action.result.message);
                                    }
                                });
                            }
                        }
                    },
                    {
                        text: '返回',
                        handler: function () {
                            var websiteid = Ext.getCmp("channelpid").value;
                            webSiteform.form.load({
                                url: '@Url.Content("/Api/Cms/WebSite/GetForm/")' + websiteid,
                        method: "Get",
                        waitMsg: 'Loading',
                        success: function (form, response) {
                            RefreshPanel(webSiteform, Ext.getCmp("panel1"));
                        }
                    });
                }
            }, {
                text: '删除',
                handler: function () {
                    var channelId = Ext.getCmp("channelId").value;
                    Ext.Ajax.request({
                        waitMsg: '正在提交...',
                        url: '@Url.Content("/Api/Cms/CmsChannel/Delete/")' + channelId,
                        method: "delete",
                        success: function (form, action) {
                            Ext.Msg.alert("网站信息：", '亲~,恭喜你，删除成功~');

                            Ext.getCmp("webSiteTree").root.reload();
                            Ext.getCmp("webSiteTree").expandAll();
                        },
                        failure: function (form, action) {
                            Ext.Msg.alert('异常警告：', "亲~，不好意思，数据删除失败~");
                        }
                    });
                }
            },
        ]
    });
        //#endregion

        //分类信息
        var classifyForm = new Ext.form.FormPanel({
            frame: true,
            autoScroll: true,
            hidden: true,
            layout: 'form',
            anchor: "100% 100%",
            reader: new Ext.data.JsonReader({ successProperty: 'success', root: 'message' }, [
                'ID', 'Name', 'Code', 'Remark', 'ChannelID', 'PageContent', "SortIndex", "InUse"
            ]),
            items: [
                {
                    layout: 'column',
                    items: [{
                        columnWidth: .33,
                        layout: 'form',
                        items: [
                            { xtype: "hidden", name: "ID", id: 'classifyId' },
                            { xtype: 'textfield', readOnly: false, fieldLabel: '分类名称', name: 'Name', labelWidth: 50 },
                            { xtype: 'textfield', readOnly: false, fieldLabel: '分类编号', name: 'Code', labelWidth: 50 }
                        ]
                    }, {
                        columnWidth: .33,
                        layout: 'form',
                        items: [
                            { xtype: 'textfield', readOnly: false, fieldLabel: '备注', name: 'Remark', labelWidth: 50 },
                            {
                                fieldLabel: '归属频道',
                                name: 'ChannelID',
                                hiddenName: 'ChannelID',
                                id: "classifypid",
                                xtype: 'combo',
                                //本地数据源  local/remote
                                mode: 'remote',
                                //设置为选项的text的字段
                                displayField: "Name",
                                //设置为选项的value的字段 
                                valueField: "Id",
                                //是否可以输入，还是只能选择下拉框中的选项
                                editable: false,
                                typeAhead: true,
                                //必须选择一项
                                forceSelection: true,
                                //输入部分选项内容匹配的时候显示所有的选项
                                triggerAction: 'all',
                                width: "200",
                                //数据
                                store: new Ext.data.JsonStore({
                                    autoLoad: true,
                                    method: 'Post',
                                    idProperty: 'ID',
                                    url: "/Api/Cms/CmsChannel/GetChannelCombox/",
                                    fields: [{
                                        name: 'Name',
                                        mapping: 'ChannelName'
                                    }, {
                                        name: 'Id',
                                        mapping: 'ID'
                                    }]
                                })
                            }

                        ]
                    }, {
                        columnWidth: .33,
                        layout: 'form',
                        items: [
                            { xtype: 'textfield', readOnly: false, fieldLabel: '排序', name: 'SortIndex', labelWidth: 50 },
                            {
                                fieldLabel: '启用',
                                name: 'InUse',
                                hiddenName: 'InUse',
                                xtype: 'combo',
                                mode: 'local',
                                displayField: "Name",
                                valueField: "Id",
                                editable: false,
                                typeAhead: true,
                                emptyText: '请选择...',
                                forceSelection: true,
                                triggerAction: 'all',
                                width: 100,
                                labelWidth: 50,
                                store: new Ext.data.JsonStore({
                                    autoLoad: true,
                                    method: 'Post',
                                    idProperty: 'ID',
                                    url: "/Api/Dictionary/GetDictionaryByPCode?pcode=Status",
                                    fields: [{
                                        name: 'Name',
                                        mapping: 'Title'
                                    }, {
                                        name: 'Id',
                                        mapping: 'Value'
                                    }]
                                })
                            }
                        ]
                    }]
                }
                , { xtype: 'Starthtmleditor', hideLabel: true, name: 'PageContent', labelWidth: 50, anchor: "100% 100%" }
            ], buttons: [{
                text: '增加子页面',
                handler: function () {
                    webSiteform.hide();
                    channelForm.hide();
                    classifyForm.hide();
                    pageTypefrom.show();
                    pageTypePanel.show();
                    channelForm.doLayout();
                    pageTypePanel.doLayout();
                    var classifypid = Ext.getCmp("classifyId").getValue();
                    pageTypefrom.getForm().reset();
                    Ext.getCmp("pageTypepid").setValue(classifypid);
                }
            }, {
                text: '保存',
                handler: function () {
                    //{ xtype: "hidden", name: "ID", id: 'classifyId' },
                    var classifyId = Ext.getCmp("classifyId").value;
                    var type = classifyId ? "Put" : "Post";
                    if (classifyForm.getForm().isValid()) {
                        classifyForm.getForm().submit({
                            url: '/Api/Cms/CmsClassify/' + classifyId,
                            method: type,
                            params: {
                            },
                            waitTitle: '请等待',
                            waitMsg: '正在提交中',
                            success: function (form, action) {
                                Ext.Msg.alert('提示', action.result.message);
                                Ext.getCmp("webSiteTree").root.reload();
                                Ext.getCmp("webSiteTree").expandAll();
                            },
                            failure: function (form, action) {
                                Ext.Msg.alert('提示', action.result.message);
                            }
                        });
                    }
                }
            }, {
                text: '返回',
                handler: function () {
                    var classifypid = Ext.getCmp("classifypid").value;
                    channelForm.form.load({
                        url: '@Url.Content("/Api/Cms/CmsChannel/GetForm/")' + classifypid,
                        method: "Get",
                        waitMsg: 'Loading',
                        success: function (form, response) {
                            RefreshPanel(channelForm, Ext.getCmp("panel1"));

                        }
                    });

                }
            }, {
                text: '删除',
                handler: function () {
                    var classifyId = Ext.getCmp("classifyId").value;
                    Ext.Ajax.request({
                        waitMsg: '正在提交...',
                        url: '@Url.Content("/Api/Cms/CmsClassify/Delete/")' + classifyId,
                    method: "delete",
                    success: function (form, action) {
                        Ext.Msg.alert("网站信息：", '亲~,恭喜你，删除成功~');

                        Ext.getCmp("webSiteTree").root.reload();
                        Ext.getCmp("webSiteTree").expandAll();
                    },
                    failure: function (form, action) {
                        Ext.Msg.alert('异常警告：', "亲~，不好意思，数据删除失败~");
                    }
                });

        }
            }]
    });

    //#region页面类型
    var pageTypefrom = new Ext.form.FormPanel({
        title: "页面定制",
        frame: true,
        hidden: true,
        autoScroll: false,
        layout: 'form',
        anchor: "100%",
        labelAlign: "right",
        labelWidth: 65,
        autoHeight: true,
        buttons: [{
            text: '保存',
            handler: function () {
                //{ xtype: "hidden", name: "ID", id: 'classifyId' },
                var pageTypeId = Ext.getCmp("pageTypeId").value;
                var type = pageTypeId ? "Put" : "Post";
                if (pageTypefrom.getForm().isValid()) {
                    pageTypefrom.getForm().submit({
                        url: '/Api/Cms/CmsPageType/' + pageTypeId,
                        method: type,
                        params: {
                        },
                        waitTitle: '请等待',
                        waitMsg: '正在提交中',
                        success: function (form, action) {
                            Ext.Msg.alert('提示', action.result.message);
                            ///重新加载contentPanel
                            var temp = Ext.get("PageListFrame");
                            temp.dom.innerHTML = '<iframe id="PageListframe" scrolling="auto" height="500px"  frameborder="0" width="100%" height="100%" src="@Url.Content("~/Cms/CmsPage/PageList")?PageTypeID=' + pageTypeId + '"> </iframe>'
                            contentPanel.doLayout();
                            Ext.getCmp("webSiteTree").root.reload();
                            Ext.getCmp("webSiteTree").expandAll();
                        },
                        failure: function (form, action) {
                            Ext.Msg.alert('提示', action.result.message);
                        }
                    });
                }
            }
        }, {
            text: '删除',
            handler: function () {
                var pageTypeId = Ext.getCmp("pageTypeId").value;
                Ext.Ajax.request({
                    waitMsg: '正在提交...',
                    url: '@Url.Content("/Api/Cms/CmsPageType/Delete/")' + pageTypeId,
                    method: "delete",
                    success: function (form, action) {
                        Ext.Msg.alert("网站信息：", '亲~,恭喜你，删除成功~');

                        Ext.getCmp("webSiteTree").root.reload();
                        Ext.getCmp("webSiteTree").expandAll();
                    },
                    failure: function (form, action) {
                        Ext.Msg.alert('异常警告：', "亲~，不好意思，数据删除失败~");
                    }
                 });

            }
        }],
        reader: new Ext.data.JsonReader({ successProperty: 'success', root: 'message' },
            [
                'ID', 'ClassifyID', 'TypeName', 'hasTitle', 'hasArticle', 'hasPictrue', 'hasForm', "TypeCode", "InUse"
            ]),
        items: [
            {
                layout: 'column',
                items: [
                    {
                        columnWidth: .25,
                        layout: 'form',
                        items: [
                            {
                                fieldLabel: '标题',
                                name: 'hasTitle',
                                hiddenName: 'hasTitle',
                                xtype: 'combo',
                                mode: 'local',
                                displayField: "Name",
                                valueField: "Id",
                                editable: false,
                                typeAhead: true,
                                emptyText: '请选择...',
                                forceSelection: true,
                                triggerAction: 'all',
                                width: 100,
                                labelWidth: 50,
                                store: new Ext.data.JsonStore({
                                    autoLoad: true,
                                    method: 'Post',
                                    idProperty: 'ID',
                                    url: "/Api/Dictionary/GetDictionaryByPCode?pcode=Status",
                                    fields: [{
                                        name: 'Name',
                                        mapping: 'Title'
                                    }, {
                                        name: 'Id',
                                        mapping: 'Value'
                                    }]
                                })
                            }
                        ]
                    }, {
                        columnWidth: .25,
                        layout: 'form',
                        items: [{
                            fieldLabel: '文章',
                            name: 'hasArticle',
                            hiddenName: 'hasArticle',
                            xtype: 'combo',
                            mode: 'local',
                            editable: false,
                            typeAhead: true,
                            emptyText: '请选择...',
                            forceSelection: true,
                            triggerAction: 'all',
                            displayField: "Name",
                            valueField: "Id",
                            width: 100,
                            labelWidth: 50,
                            store: new Ext.data.JsonStore({
                                autoLoad: true,
                                method: 'Post',
                                idProperty: 'ID',
                                url: "/Api/Dictionary/GetDictionaryByPCode?pcode=Status",
                                fields: [{
                                    name: 'Name',
                                    mapping: 'Title'
                                }, {
                                    name: 'Id',
                                    mapping: 'Value'
                                }]
                            })
                        }]
                    }, {
                        columnWidth: .25,
                        layout: 'form',
                        items: [{
                            fieldLabel: '图片',
                            name: 'hasPictrue',
                            hiddenName: 'hasPictrue',
                            xtype: 'combo',
                            mode: 'local',
                            displayField: "Name",
                            valueField: "Id",
                            editable: false,
                            typeAhead: true,
                            emptyText: '请选择...',
                            forceSelection: true,
                            width: 100,
                            triggerAction: 'all',
                            labelWidth: 50,
                            store: new Ext.data.JsonStore({
                                autoLoad: true,
                                method: 'Post',
                                idProperty: 'ID',
                                url: "/Api/Dictionary/GetDictionaryByPCode?pcode=Status",
                                fields: [{
                                    name: 'Name',
                                    mapping: 'Title'
                                }, {
                                    name: 'Id',
                                    mapping: 'Value'
                                }]
                            })
                        }]
                    }, {
                        columnWidth: .25,
                        layout: 'form',
                        items: [{
                            fieldLabel: '表单',
                            name: 'hasForm',
                            hiddenName: 'hasForm',
                            xtype: 'combo',
                            mode: 'local',
                            displayField: "Name",
                            valueField: "Id",
                            editable: false,
                            typeAhead: true,
                            emptyText: '请选择...',
                            forceSelection: true,
                            triggerAction: 'all',
                            width: 100,
                            labelWidth: 50,
                            store: new Ext.data.JsonStore({
                                autoLoad: true,
                                method: 'Post',
                                idProperty: 'ID',
                                url: "/Api/Dictionary/GetDictionaryByPCode?pcode=Status",
                                fields: [{
                                    name: 'Name',
                                    mapping: 'Title'
                                }, {
                                    name: 'Id',
                                    mapping: 'Value'
                                }]
                            })
                        }]
                    }
                ]
            }, {
                layout: 'column',
                items: [
                    {
                        columnWidth: .35,
                        layout: 'form',
                        items: [
                            { xtype: "hidden", name: "ID", id: 'pageTypeId' },
                            { xtype: 'hidden', id: "pageTypepid", readOnly: false, fieldLabel: 'ClassifyID', name: 'ClassifyID', labelWidth: 60 },
                            { xtype: 'textfield', readOnly: false, fieldLabel: '模板名称', name: 'TypeName', labelWidth: 50, anchor: "95%" }]
                    }, {
                        columnWidth: .35,
                        layout: 'form',
                        items: [
                            { xtype: 'textfield', readOnly: false, fieldLabel: '模板编号', name: 'TypeCode', labelWidth: 60, anchor: "95%" }]
                    }, {

                        columnWidth: .3,
                        layout: 'form',
                        items: [{
                            fieldLabel: '启用',
                            name: 'InUse',
                            hiddenName: 'InUse',
                            xtype: 'combo',
                            mode: 'local',
                            displayField: "Name",
                            valueField: "Id",
                            editable: false,
                            typeAhead: true,
                            emptyText: '请选择...',
                            forceSelection: true,
                            triggerAction: 'all',
                            width: 100,
                            labelWidth: 50,
                            store: new Ext.data.JsonStore({
                                autoLoad: true,
                                method: 'Post',
                                idProperty: 'ID',
                                url: "/Api/Dictionary/GetDictionaryByPCode?pcode=Status",
                                fields: [{
                                    name: 'Name',
                                    mapping: 'Title'
                                }, {
                                    name: 'Id',
                                    mapping: 'Value'
                                }]
                            })
                        }]
                    }]
            }
        ]
    });
    //#endregion


    var contentPanel = new Ext.Panel({
        frame: true,
        autoScroll: true,
        id: "contentpanel",
        anchor: "100% 100%",
        html: '<div id="PageListFrame"></div>'
    });



    var pageTypePanel = new Ext.Panel({
        title: '页面制作',
        frame: true,
        autoScroll: true,
        height: 600,
        layout: "fit",
        hidden: true,
        anchor: "100% 100%",
        items: [pageTypefrom, contentPanel]
    });


    var pagePanel = new Ext.Panel({
        title: "页面内容",
        frame: true,
        autoScroll: true,
        height: 600,
        layout: "fit",
        hidden: true,
        anchor: "100% 100%",
        html: '<div id="PageFrame"></div>'
    })

    //控制pannel及form的显示
    function RefreshPanel(formpanel, panel) {
        webSiteform.hide();
        channelForm.hide();
        classifyForm.hide();
        pageTypefrom.hide();
        pagePanel.hide();
        pageTypePanel.hide();
        formpanel.show();
        panel.doLayout();

    }


    Ext.onReady(function () {
        Ext.QuickTips.init();
        new Ext.Viewport({
            title: "Viewport",
            layout: "border",
            defaults: {
                bodyStyle: "background-color: #FFFFFF;",
            },
            items: [
                {
                    region: 'west',
                    title: '网站信息',
                    xtype: 'treepanel',
                    id: "webSiteTree",
                    width: 200,
                    autoScroll: true,
                    loader: new Ext.tree.TreeLoader({
                        url: '/Api/Cms/CmsPageType/GetWebSiteTree'
                    }),
                    root: new Ext.tree.AsyncTreeNode({
                        expanded: true,
                    }),
                    rootVisible: false,
                    listeners: {
                        click: function (node) {
                            var pannel = Ext.getCmp("panel1");

                            switch (node.attributes.attributes.type) {
                                case "WebSite":
                                    webSiteform.form.load({
                                        url: '@Url.Content("/Api/Cms/WebSite/GetForm/")' + node.id,
                                    method: "Get",
                                    waitMsg: 'Loading',
                                    success: function (form, response) {
                                        RefreshPanel(webSiteform, pannel);
                                    }
                                });
                                break;
                            case "CmsChannel":
                                channelForm.form.load({
                                    url: '@Url.Content("/Api/Cms/CmsChannel/GetForm/")' + node.id,
                                    method: "Get",
                                    waitMsg: 'Loading',
                                    success: function (form, response) {
                                        RefreshPanel(channelForm, pannel);
                                    }
                                });
                                break;
                            case "CmsClassify":
                                classifyForm.form.load({
                                    url: '@Url.Content("/Api/Cms/CmsClassify/GetForm/")' + node.id,
                                    method: "Get",
                                    waitMsg: 'Loading',
                                    success: function (form, response) {
                                        RefreshPanel(classifyForm, pannel);
                                    }
                                });
                                break;
                            case "CmsPageType":
                                pageTypefrom.form.load({
                                    url: '@Url.Content("/Api/Cms/CmsPageType/GetForm/")' + node.id,
                                    method: "Get",
                                    waitMsg: 'Loading',
                                    success: function (form, response) {
                                        webSiteform.hide();
                                        channelForm.hide();
                                        classifyForm.hide();
                                        pageTypefrom.show();
                                        pageTypePanel.show();
                                        pagetypeid = node.id;
                                        channelForm.doLayout();
                                        pageTypePanel.doLayout();
                                        var temp = Ext.get("PageListFrame");
                                        temp.dom.innerHTML = '<iframe id="pagelistframe" scrolling="auto" height="500px"  frameborder="0" width="100%" height="100%" src="@Url.Content("~/Cms/CmsPage/PageList")?PageTypeID=' + node.id + '"> </iframe>';
                                        contentPanel.doLayout();
                                    }
                                });
                                break;
                            case "CmsPage":
                                RefreshPanel(pagePanel, pannel);
                                var temp = Ext.get("PageFrame");
                                temp.dom.innerHTML = '<iframe id="pageframe" scrolling="auto" height="500px"  frameborder="0" width="100%" height="100%" src="@Url.Content("~/Cms/CmsPage/Index")?PageID=' + node.id + '&PageTypeID=' + node.parentNode.attributes.id + '"> </iframe>';
                                    pagePanel.doLayout();
                            }
                        }
                    }
                }, {
                    region: "center",
                    id: "panel1",
                    split: true,
                    border: false,
                    collapsible: false,
                    xtype: "panel",
                    layout: "anchor",
                    items: [channelForm, webSiteform, classifyForm, pageTypePanel, pagePanel]
                }
            ]
        });

    });

</script>
