@{
    Layout = "~/WebSite/Shared/_Layout.cshtml";
}

@*导航*@
@RenderPage("~/WebSite/PartialView/Navigation.cshtml", null)

@*图片轮转*@
@RenderPage("~/WebSite/PartialView/ImageRotation.cshtml", null)

<!-- 内容布局 -->
<div class="container" style="margin-top: 10px">
    <div class="row">
        <div class="col-md-6">
            @*公司简介*@
            @RenderPage("~/WebSite/PartialView/CompanyProfile.cshtml", null)
        </div>
        <div class="col-md-6">
            @*新闻列表*@
            @RenderPage("~/WebSite/PartialView/NewsProfile.cshtml", null)
        </div>
    </div>
    <div class ="row">
        <div class="col-md-4">
            <div class="panel panel-default" style="height: 250px">
                        <div class="panel-body">
                            <div style="border-bottom: 1px solid #dbdbdb; margin: 5px 5px"><b>基地全景</b></div>
                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" style="height: 150px; width: 200px; float: left" src="/WebSite/static/img/company1.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        鑫港人力资源服务有限公司，是经河南省人社厅备案，市人社局批准的，尉氏县首家具有劳务派遣资质的人力资源服务公司
                                    </div>
                                </li>
                            </ul>
                        </div>
                     </div>
        </div>
        <div class="col-md-4">
             <div class="panel panel-default" style="height: 250px">
                        <div class="panel-body">
                            <div style="border-bottom: 1px solid #dbdbdb; margin: 5px 5px"><b>联系我们</b></div>
                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" style="height: 150px; width: 200px; float: left" src="/WebSite/static/img/company1.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        鑫港人力资源服务有限公司，是经河南省人社厅备案，市人社局批准的，尉氏县首家具有劳务派遣资质的人力资源服务公司
                                    </div>
                                </li>
                            </ul>
                        </div>
                     </div>
        </div>
        <div class="col-md-4">
             <div class="panel panel-default" style="height: 250px">
                        <div class="panel-body">
                            <div style="border-bottom: 1px solid #dbdbdb; margin: 5px 5px"><b>产品分类</b></div>
                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" style="height: 150px; width: 200px; float: left" src="/WebSite/static/img/company1.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        鑫港人力资源服务有限公司，是经河南省人社厅备案，市人社局批准的，尉氏县首家具有劳务派遣资质的人力资源服务公司
                                    </div>
                                </li>
                            </ul>
                        </div>
                     </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @*产品图片滚动*@
            @RenderPage("~/WebSite/PartialView/PicScroll.cshtml", null)
        </div>
    </div>
    
    @RenderPage("~/WebSite/PartialView/Footer.cshtml", null)
</div>
