@using COM.XXXX.Common
@{
    ViewBag.Title = "Index";
}
<script src="../../../../Scripts/Ext/examples/ux/DataView-more.js"></script>
<link href="../../../../Scripts/Ext/examples/view/data-view.css" rel="stylesheet" />
<style type="text/css">
    .upload-icon {
        background: url('../../../../Scripts/Ext/icons/fam/add.gif') no-repeat 0 0 !important;
    }

    .x-form-file-wrap {
        position: relative;
        height: 22px;
    }

        .x-form-file-wrap .x-form-file {
            position: absolute;
            right: 0;
            -moz-opacity: 0;
            filter: alpha(opacity: 0);
            opacity: 0;
            z-index: 2;
            height: 22px;
        }

        .x-form-file-wrap .x-form-file-btn {
            position: absolute;
            right: 0;
            z-index: 1;
        }

        .x-form-file-wrap .x-form-file-text {
            position: absolute;
            left: 0;
            z-index: 3;
            color: #777;
        }
</style>
<script type="text/javascript">
    var PageID = "@Request["PageID"]";
    var PageTypeID = "@Request["PageTypeID"]";
    //var PageID = "7f13fd74-0420-e511-9f09-eca86b0d7d49";
    //var PageTypeID = "12847605-B815-E511-8525-ECA86B017D49";
    //页面标题
    var PageTitleForm = new Ext.form.FieldSet({
        xtype: 'fieldset',
        checkboxToggle: true,
        title: '标题',
        autoHeight: true,
        anchor: "100%",
        collapsed: true,
        buttons: [{
            text: "保存",
            handler: function () {
                var formpanel = Ext.getCmp("pageTitleForm");
                var pagetitleid = Ext.getCmp("pagetitleid").getValue();
                var type = pagetitleid ? "Put" : "Post";
                if (formpanel.getForm().isValid()) {
                    formpanel.getForm().submit({
                        url: '/Api/Cms/CmsPageTitle/' + pagetitleid,
                        method: type,
                        waitTitle: '请等待',
                        waitMsg: '正在提交中',
                        success: function (form, action) {
                            Ext.Msg.alert('提示', action.result.message);
                        },
                        failure: function (form, action) {
                            Ext.Msg.alert('提示', action.result.message);
                        }
                    });
                }
            }
        }, {
            text: "删除",
            handler: function () {
                var pagetitleid = Ext.getCmp("pagetitleid").getValue();
                Ext.Ajax.request({
                    waitMsg: '正在提交...',
                    url: '@Url.Content("/Api/Cms/CmsPageTitle/Delete/")' + pagetitleid,
                    method: "delete",
                    success: function (form, action) {
                        Ext.Msg.alert("网站信息：", '亲~,恭喜你，删除成功~');
                    },
                    failure: function (form, action) {
                        Ext.Msg.alert('异常警告：', "亲~，不好意思，数据删除失败~");
                    }
                });
            }
        }],
        items: [
            new Ext.form.FormPanel({
                frame: true,
                id: 'pageTitleForm',
                autoScroll: true,
                layout: 'form',
                labelAlign: "right",
                labelWidth: 65,
                reader: new Ext.data.JsonReader({ successProperty: 'success', root: 'message' },
                    [
                        'ID', 'TitleContent', 'Remark', 'PageTypeID'
                    ]),
                items: [
                    { xtype: 'hidden', id: "pagetitleid", name: 'ID' },
                    //{ xtype: 'Starthtmleditor', hideLabel: false, name: 'Remark', fieldLabel: '内容摘要', labelWidth: 65, anchor: "100%", height: 200 },
                   //{ xtype: 'Starthtmleditor', hideLabel: false, name: 'TitleContent', fieldLabel: '标题内容', labelWidth: 65, anchor: "100%", height: 800 },
                    { xtype: 'textarea', readOnly: false, fieldLabel: '标题内容', name: 'TitleContent', labelWidth: 50, anchor: "100%" },
                    { xtype: 'textarea', readOnly: false, fieldLabel: '标题备注', name: 'Remark', labelWidth: 50, anchor: "100%" },
                    { xtype: 'hidden', id: "pagetitlepid", name: 'PageID', value: PageID }
                ]
            })
        ]
    });


    //页面属性
    var PageAttributeForm = new Ext.form.FieldSet({
        xtype: 'fieldset',
        checkboxToggle: true,
        title: '属性',
        autoHeight: true,
        collapsed: true,
        buttons: [{
            text: "保存",
            handler: function () {
                var formpanel = Ext.getCmp("pageAttributeForm");
                var pageattributeid = Ext.getCmp("pageattributeid").getValue();
                var type = pageattributeid ? "Put" : "Post";
                if (formpanel.getForm().isValid()) {
                    formpanel.getForm().submit({
                        url: '/Api/Cms/CmsPageAttribute/' + pageattributeid,
                        method: type,
                        waitTitle: '请等待',
                        waitMsg: '正在提交中',
                        success: function (form, action) {
                            Ext.Msg.alert('提示', action.result.message);
                        },
                        failure: function (form, action) {
                            Ext.Msg.alert('提示', action.result.message);
                        }
                    });
                }
            }
        }, {
            text: "删除",
            handler: function () {
                var pageattributeid = Ext.getCmp("pageattributeid").getValue();
                Ext.Ajax.request({
                    waitMsg: '正在提交...',
                    url: '@Url.Content("/Api/Cms/CmsPageAttribute/Delete/")' + pageattributeid,
                    method: "delete",
                    success: function (form, action) {
                        Ext.Msg.alert("网站信息：", '亲~,恭喜你，删除成功~');
                    },
                    failure: function (form, action) {
                        Ext.Msg.alert('异常警告：', "亲~，不好意思，数据删除失败~");
                    }
                });
            }
        }],
        items: [
            new Ext.form.FormPanel({
                frame: true,
                id: 'pageAttributeForm',
                autoScroll: false,
                baseCls: 'x-plain',
                layout: 'form',
                labelAlign: "right",
                labelWidth: 65,
                reader: new Ext.data.JsonReader({ successProperty: 'success', root: 'message' }, [
                        'ID', 'isTop', 'isPic', 'isHot', 'isRecommend', 'isComment', 'SortIndex', 'ReadCount', 'CreateUserID', 'UpdateTime', 'UpdateUserID', 'PageTypeID'
                ]),
                items: [{
                    layout: 'column',
                    items: [
                        {
                            columnWidth: .14,
                            layout: 'form',
                            items: [{
                                xtype: 'combo',
                                fieldLabel: '顶置',
                                name: 'isTop',
                                hiddenName: 'isTop',
                                mode: 'local',
                                displayField: "Name",
                                valueField: "Id",
                                editable: false,
                                typeAhead: true,
                                emptyText: '请选择...',
                                forceSelection: true,
                                triggerAction: 'all',
                                anchor: "100%",
                                store: new Ext.data.JsonStore({
                                    autoLoad: true,
                                    method: 'Post',
                                    idProperty: 'ID',
                                    url: "/Api/Dictionary/GetDictionaryByPCode?pcode=Status",
                                    fields: [{
                                        name: 'Name',
                                        mapping: 'Title'
                                    }, {
                                        name: 'Id',
                                        mapping: 'Value'
                                    }]
                                })
                            }
                            ]
                        }, {
                            columnWidth: .14,
                            layout: 'form',
                            items: [{
                                xtype: 'combo',
                                fieldLabel: '幻灯片',
                                name: 'isPic',
                                hiddenName: 'isPic',
                                mode: 'local',
                                displayField: "Name",
                                valueField: "Id",
                                editable: false,
                                typeAhead: true,
                                emptyText: '请选择...',
                                forceSelection: true,
                                triggerAction: 'all',
                                anchor: "100%",
                                store: new Ext.data.JsonStore({
                                    autoLoad: true,
                                    method: 'Post',
                                    idProperty: 'ID',
                                    url: "/Api/Dictionary/GetDictionaryByPCode?pcode=Status",
                                    fields: [{
                                        name: 'Name',
                                        mapping: 'Title'
                                    }, {
                                        name: 'Id',
                                        mapping: 'Value'
                                    }]
                                })
                            }]
                        }, {
                            columnWidth: .14,
                            layout: 'form',
                            items: [{
                                xtype: 'combo',
                                fieldLabel: '热门',
                                name: 'isHot',
                                hiddenName: 'isHot',
                                mode: 'local',
                                displayField: "Name",
                                valueField: "Id",
                                editable: false,
                                typeAhead: true,
                                emptyText: '请选择...',
                                forceSelection: true,
                                triggerAction: 'all',
                                anchor: "100%",
                                store: new Ext.data.JsonStore({
                                    autoLoad: true,
                                    method: 'Post',
                                    idProperty: 'ID',
                                    url: "/Api/Dictionary/GetDictionaryByPCode?pcode=Status",
                                    fields: [{
                                        name: 'Name',
                                        mapping: 'Title'
                                    }, {
                                        name: 'Id',
                                        mapping: 'Value'
                                    }]
                                })
                            }]
                        }, {
                            columnWidth: .14,
                            layout: 'form',
                            items: [{
                                xtype: 'combo',
                                fieldLabel: '推荐',
                                name: 'isRecommend',
                                hiddenName: 'isRecommend',
                                mode: 'local',
                                displayField: "Name",
                                valueField: "Id",
                                editable: false,
                                typeAhead: true,
                                emptyText: '请选择...',
                                forceSelection: true,
                                triggerAction: 'all',
                                anchor: "100%",
                                store: new Ext.data.JsonStore({
                                    autoLoad: true,
                                    method: 'Post',
                                    idProperty: 'ID',
                                    url: "/Api/Dictionary/GetDictionaryByPCode?pcode=Status",
                                    fields: [{
                                        name: 'Name',
                                        mapping: 'Title'
                                    }, {
                                        name: 'Id',
                                        mapping: 'Value'
                                    }]
                                })
                            }]
                        }, {
                            columnWidth: .14,
                            layout: 'form',
                            items: [{
                                xtype: 'combo',
                                fieldLabel: '评论',
                                name: 'isComment',
                                hiddenName: 'isComment',
                                mode: 'local',
                                displayField: "Name",
                                valueField: "Id",
                                editable: false,
                                typeAhead: true,
                                emptyText: '请选择...',
                                forceSelection: true,
                                triggerAction: 'all',
                                anchor: "100%",
                                store: new Ext.data.JsonStore({
                                    autoLoad: true,
                                    method: 'Post',
                                    idProperty: 'ID',
                                    url: "/Api/Dictionary/GetDictionaryByPCode?pcode=Status",
                                    fields: [{
                                        name: 'Name',
                                        mapping: 'Title'
                                    }, {
                                        name: 'Id',
                                        mapping: 'Value'
                                    }]
                                })
                            }]
                        }, {
                            columnWidth: .14,
                            layout: 'form',
                            items: [{ xtype: 'textfield', readOnly: false, fieldLabel: '排序', value: 0, name: 'SortIndex', anchor: "100%" }]
                        }, {
                            columnWidth: .14,
                            layout: 'form',
                            items: [{ xtype: 'textfield', readOnly: false, fieldLabel: '浏览次数', value: 0, name: 'ReadCount', anchor: "100%" }]
                        }]
                },
                    { xtype: 'hidden', id: "pageattributeid", name: 'ID' },
                    { xtype: 'hidden', name: 'CreateUserID', value: "@CurrentLogInfo.CurrentLog.ID" },
                    { xtype: 'hidden', name: 'UpdateTime', value: "@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" },
                    { xtype: 'hidden', name: 'UpdateUserID', value: "@CurrentLogInfo.CurrentLog.ID" },
                    { xtype: 'hidden', id: 'pageattributepid', name: 'PageID', value: PageID }
                ]
            })
        ]
    });

        //页面属性
        var PageContentForm = new Ext.form.FieldSet({
            xtype: 'fieldset',
            checkboxToggle: true,
            title: '内容',
            autoHeight: true,
            collapsed: true,
            buttons: [{
                text: "保存",
                handler: function () {
                    var formpanel = Ext.getCmp("PageContentForm");
                    var pagecontentid = Ext.getCmp("pagecontentid").getValue();
                    var type = pagecontentid ? "Put" : "Post";
                    if (formpanel.getForm().isValid()) {
                        formpanel.getForm().submit({
                            url: '/Api/Cms/CmsPageContent/' + pagecontentid,
                            method: type,
                            waitTitle: '请等待',
                            waitMsg: '正在提交中',
                            success: function (form, action) {
                                Ext.Msg.alert('提示', action.result.message);
                            },
                            failure: function (form, action) {
                                Ext.Msg.alert('提示', action.result.message);
                            }
                        });
                    }
                }
            }, {
                text: "删除",
                handler: function () {
                    var pagecontentid = Ext.getCmp("pagecontentid").getValue();
                    Ext.Ajax.request({
                        waitMsg: '正在提交...',
                        url: '@Url.Content("/Api/Cms/CmsPageContent/Delete/")' + pagecontentid,
                        method: "delete",
                        success: function (form, action) {
                            Ext.Msg.alert("网站信息：", '亲~,恭喜你，删除成功~');
                            Ext.StoreMgr.get("gridstore").load({ params: { start: 0, limit: 10 } });
                        },
                        failure: function (form, action) {
                            Ext.Msg.alert('异常警告：', "亲~，不好意思，数据删除失败~");
                        }
                    });
                }
            }],
            items: [
                new Ext.form.FormPanel({
                    baseCls: 'x-plain',
                    autoHeight: true,
                    autoWidth: true,
                    id: "PageContentForm",
                    layout: 'form',
                    defaultType: 'textfield',
                    reader: new Ext.data.JsonReader({ successProperty: 'success', root: 'message' },
                                 ['ID', 'PageContent', 'CreateTime', 'Remark', 'PageID']
                    ),
                    items: [
                        { xtype: 'hidden', id: "pagecontentid", name: 'ID' },
                        { xtype: 'hidden', name: 'PageID', value: PageID },
                        { xtype: 'Starthtmleditor', hideLabel: false, name: 'Remark', fieldLabel: '内容摘要', labelWidth: 65, anchor: "100%", height: 200 },
                        { xtype: 'Starthtmleditor', hideLabel: false, name: 'PageContent', fieldLabel: '页面内容', labelWidth: 65, anchor: "100%", height: 800 },
                        { xtype: 'hidden', name: 'CreateTime', value: "@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")", labelWidth: 50 },
                    //{ xtype: 'textfield', readOnly: false, fieldLabel: '页面内容', id: 'PageContent', labelWidth: 50 },
                    //{ xtype: 'textfield', readOnly: false, fieldLabel: '备注信息', id: 'Remark', labelWidth: 50 },
                    ]
                })
            ]
        });

                var panelpic = new Ext.Panel({
                    id: 'images-view',
                    frame: true,
                    width: 535,
                    autoHeight: true,
                    collapsible: true,
                    layout: 'fit',
                    title: '图片视图',
                    items: {
                        height: 200,
                        xtype: "dataview",
                        store: new Ext.data.JsonStore({
                            id: "picview",
                            url: '../../Api/CmsPagePicture/GetPictureByPage?id=' + PageID,
                            root: 'images',
                            fields: ['PicPath', 'Remark', 'PageID', 'ID']
                        }),
                        tpl: new Ext.XTemplate(
                            '<tpl for=".">',
                                '<div class="thumb-wrap" id="{ID}">',
                                '<div class="thumb"><img src="{PicPath}" title="{Remark}"></div>',
                                '<span class="x-editable">{Remark}</span></div>',
                            '</tpl>',
                            '<div class="x-clear"></div>'
                        ),
                        //autoHeight: true,
                        multiSelect: true,
                        overClass: 'x-view-over',
                        itemSelector: 'div.thumb-wrap',
                        emptyText: 'No images to display',
                        plugins: [
                            new Ext.DataView.DragSelector(),
                            new Ext.DataView.LabelEditor({ dataIndex: 'PicPath' })
                        ],
                        prepareData: function (data) {
                            data.PicPath = "../../" + data.PicPath.replace("~", "");
                            return data;
                        },

                        listeners: {
                            selectionchange: {
                                fn: function (dv, nodes) {
                                    console.log(this.getSelectedNodes()[0]);
                                    console.log(dv);
                                    console.log(nodes);
                                }
                            }
                        }
                    }
                });


                //页面属性
                var PagePictureForm = new Ext.form.FieldSet({
                    xtype: 'fieldset',
                    checkboxToggle: true,
                    title: '图片',
                    autoHeight: true,
                    collapsed: true,
                    items: [
                        new Ext.FormPanel({
                            fileUpload: true,
                            anchor: "100%",
                            id: 'picPanel',
                            frame: true,
                            title: '图片上传操作',
                            autoHeight: true,
                            bodyStyle: 'padding: 10px 10px 0 10px;',
                            labelWidth: 50,
                            defaults: {
                                anchor: '95%',
                                msgTarget: 'side'
                            },
                            html: "<div id='picinfoList'></div>",
                            items: [{
                                xtype: 'fileuploadfield',
                                emptyText: '请选择一个图片',
                                fieldLabel: '图片',
                                buttonText: '',
                                allowBlank: false,
                                buttonCfg: { iconCls: 'upload-icon' }
                            }, {
                                xtype: 'textfield', readOnly: false, fieldLabel: '备注',
                                value: 0, id: 'picRemark', anchor: "100%"
                            },
                                panelpic
                            ],
                            buttons: [{
                                text: 'Save',
                                handler: function () {
                                    var fp = Ext.getCmp("picPanel");
                                    if (fp.getForm().isValid()) {
                                        fp.getForm().submit({
                                            url: '@Url.Content("~/Home/UploadWater/")',//后台处理的页面  
                                            waitMsg: '正在上传图片...',
                                            success: function (fp, o) {
                                                //var piclst = Ext.get("picinfoList");
                                                //piclst.innerHTML += o.result.path + "\n" + piclst.getValue()
                                                Ext.Ajax.request({
                                                    url: '@Url.Content("/Api/Cms/CmsPagePicture/")',
                                                    method: "Post",
                                                    params: {
                                                        PicPath: o.result.path,
                                                        Remark: Ext.getCmp("picRemark").getValue(),
                                                        PageID: PageID
                                                    },
                                                    success: function (response) {
                                                        var result = eval('(' + response.responseText + ')');
                                                        Ext.Msg.alert('提示', result.message);
                                                    }
                                                });
                                            }
                                        });
                                    }
                                }
                            },
                            {
                                text: 'Reset',
                                handler: function () {
                                    Ext.getCmp("picPanel").getForm().reset();
                                }
                            }, {
                                text: 'Reset',
                                handler: function () {
                                    //top.top.ExtWindow("图片列表",500,600,"/Cms/CmsPagePictrue",PageID)
                                    var win = new Ext.Window({
                                        title: "图片列表",
                                        layout: 'fit',    //设置布局模式为fit，能让frame自适应窗体大小
                                        modal: true,    //打开遮罩层

                                        height: 500,    //初始高度
                                        width: 600,  //初始宽度
                                        frame: true,    //去除窗体的panel框架
                                        html: '<iframe frameborder=0 width="100%" height="100%" allowtransparency="true" scrolling=auto src="/Cms/CmsPagePicture/index?id=' + PageID + '"></iframe>'
                                    });
                                    
                                    win.show();
                                }
                            }]
                        })
                    ]
                });
                    var contentPanel = new Ext.Panel({
                        title: '新增模板内容',
                        frame: true,
                        autoScroll: true,
                        id: "contentpanel",
                        items: []
                        //PageAttributeForm, PageTitleForm, PageContentForm
                    });


                    function InitForm() {
                        //加载三个form中的数据

                    }

                    Ext.onReady(function () {
                        Ext.QuickTips.init();
                        Ext.Ajax.request({
                            url: '@Url.Content("~/Api/Cms/CmsPageType/")' + PageTypeID,
                        method: "Get",
                        success: function (response) {
                            //根据classify加载控件
                            var obj = eval('(' + response.responseText + ')');

                            if (Ext.isArray(obj)) {
                                Ext.Msg.alert('错误', "页面错误：ClassifyID字段为空！");
                                return;
                            }

                            Ext.getCmp("pageAttributeForm").form.load({
                                url: '@Url.Content("/Api/Cms/CmsPageAttribute/GetFormByPageId/")' + PageID,
                            method: "Get",
                            waitMsg: 'Loading',
                            success: function (form, response) {
                            }
                        });

                        contentPanel.items.add("PageAttribute", PageAttributeForm);
                        if (obj) {
                            if (obj.hasTitle) {

                                contentPanel.items.add("PageTitle", PageTitleForm);
                                Ext.getCmp("pageTitleForm").form.load({
                                    url: '@Url.Content("/Api/Cms/CmsPageTitle/GetFormByPageID/")' + PageID,
                                method: "Get",
                                waitMsg: 'Loading',
                                success: function (form, response) {
                                }
                            });

                        }

                        if (obj.hasArticle) {
                            contentPanel.items.add("PageContent", PageContentForm);

                            Ext.getCmp("PageContentForm").form.load({
                                url: '@Url.Content("/Api/Cms/CmsPageContent/GetFormByPageID/")' + PageID,
                                method: "Get",
                                waitMsg: 'Loading',
                                success: function (form, response) {

                                }
                            });
                        }


                        if (obj.hasPictrue) {
                            contentPanel.items.add("PagePic", PagePictureForm);
                        }
                        contentPanel.doLayout();
                    }

                    }
                    });
                    Ext.StoreMgr.get("picview").load();

                    contentPanel.render(Ext.getBody());
                });

</script>

