<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
     @* <script type="text/javascript" src="@Url.Content("~/Scripts/Ext/adapter/ext/ext-base.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Ext/ext-all.js")"></script>*@
    
    <link href="@Url.Content("~/Scripts/NewIcon.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/Ext/resources/css/ext-all.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/Ext/adapter/ext/ext-base-debug.js")"></script>
    <script src="@Url.Content("~/Scripts/Ext/ext-all-debug.js")"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Ext/src/widgets/tips/QuickTips.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Ext/src/locale/ext-lang-zh_CN.js")"></script>
    <script  type="text/javascript" src="@Url.Content("~/Scripts/Ext/treeCombo.js")"></script>
    @RenderSection("Head", false)
</head>
<body>
    @RenderBody()
</body>
</html>
